body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.loginDatos{
    display: flex;
    min-height: 91vh;
    justify-content: space-evenly;
    align-items: center;
}
.fondoLogin {
    padding: 2rem;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    max-width: 70vh;
    margin: 1rem;
    height: min-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.login-seccion-izquierda {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.rotating-image {
    width: 120px;
    height: 120px;
    transition: transform 0.8s ease-in-out;
    margin-right: 10px;
}

.rotating-image:hover {
    transform: rotate(360deg);
}

@media (max-width: 768px) {
    .fondoLogin {
        flex-direction: column;
        align-items: center;
    }

    .login-seccion-izquierda {
        text-align: center;
        margin-bottom: 2rem;
    }
    footer {
        padding: 1rem;
    }
    main {
        padding: 1rem;
    }
}

.containerStyles {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
}
.flagStyles {
    width: 20px;
    height: 15px;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.flagStyles:hover {
    transform: scale(1.2);
}
footer {
    background-color: #f1f0fe;
    color: #000000;
    padding: 0.5rem;
    margin-top: auto; /* Para que se mantenga abajo */
    border-top: 3px solid #68bb70;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer h2 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

footer h2:hover {
    color: #3498db;
    transition: color 0.3s ease;
}
.layout-container {
    background: #f1f0fe;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

main {
    flex: 1;
}
 
.role-selection-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  